<section id="home-slider" class="fullscreen">
    <div class="banner bg-1" style="background-image: url({{ asset('images/bg/bg-2.jpg') }});" data-gradient-red="4">
        <div class="ver-center text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-white">
                        <h1 class="animated3 text-white mb-20">tired <span>of</span> being <span> alone</span></h1>
                        <h2 class="textrotate"><span class="rotate"> Create Profile, Find Match, Start Dating</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
