<section class="inner-intro bg bg-fixed bg-overlay-black-20" style="background-image:url({{ asset('images/bg/bg-7.jpg') }});">
    <div class="container">
        <div class="row intro-title text-center">
            <div class="col-sm-12">
                <div class="section-title"><h1 class="pos-r divider">Cart <span class="sub-title">Cart</span></h1></div>
            </div>
            <div class="col-sm-12 mt-70">
                <ul class="page-breadcrumb">
                    <li><a href="{{ path('user_default_index') }}"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
                    <li><a href="{{ path('fos_user_security_login') }}">Pages</a> <i class="fa fa-angle-double-right"></i></li>
                    <li><span>Login 1</span> </li>
                </ul>
            </div>
        </div>

    </div>
</section>