    <section class="page-section-pb">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xx-12">
                    <div class="counter left_pos">
                        <i class="glyph-icon flaticon-people-2"></i>
                        <span class="timer" data-to="1600" data-speed="10000">to do</span><label>Total Members</label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xx-12">
                    <div class="counter left_pos">
                        <i class="glyph-icon flaticon-favorite"></i>
                        <span class="timer" data-to="750" data-speed="10000">to do</span><label>Online Members</label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xx-12">
                    <div class="counter left_pos">
                        <i class="glyph-icon flaticon-charity"></i>
                        <span class="timer" data-to="380" data-speed="10000">to do</span><label>Men Online</label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xx-12">
                    <div class="counter left_pos">
                        <i class="glyph-icon flaticon-candelabra"></i>
                        <span class="timer" data-to="370" data-speed="10000">to do</span><label>Women Online</label>
                    </div>
                </div>
            </div></div></section>
